/* table {
  width: 80%;
}
.mat-elevation-z8{
  width: 80%;
  margin-left: 280px;
} */
.add {
  margin-left: 872px;
  margin-top: 50px;
  width: 50%;
  height: 70px;
  background-color: #114B5F;
  color: #fff;
}

.add:hover {
  color: #114B5F !important;
  background-color: #fff;
  border: 2px solid rgb(237, 114, 13);
}

.container {
  width: 100%;
  margin-left: 292px;
  margin-top: 30px;
  margin-bottom: 100px;
  /* background-color:cornflowerblue; */
}

.mat-elevation-z8 {
  width: 90%;
  margin-left: 164px;
}

.star-rating {
  font-size: 1.2em;
}

.fa-star {
  color: #ccc;
}

.checked {
  color: rgb(237, 114, 13);
}

.tableTitle {
  text-align: center;
  line-height: 50px;
  color: #ffffff;
  font-size: 30px;
  background-color: #000000;
  border-bottom: 1px solid wheat;
}

.styled-table {
  border-collapse: separate;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
  border: 1px solid black;
  /* padding: 6px 15px; */
  font-size: 16px;
  background-color: #fafafa98;
  color: black;
  border-bottom: 1px solid #868686;

}

.styled-table_bottom {
  border-bottom: 1px solid #868686;
  border-right: 1px solid #868686;
  border-left: 1px solid #868686;
  background-color: #6d6d6d;
  color: #fff;
  font-size: 16px;
  padding-right: 290px;
}

.table_but {
  width: 100px;
  /* height: 50px; */
  color: #fff;
  background-color: #114B5F;
  padding: 5px 5px;
}

.tr_table {
  color: #fff;
  background-color: #114B5F;
  text-align: left;
  border-right: 1px solid #636363;
}

.tr_table_buttom {
  color: #fff;
  background-color: #000000 !important;
  text-align: left;
  border-right: 1px solid #636363;
}

.border-right {
  border-right: 1px solid #636363;
  font-size: 15px;
  font-weight: bold;
}

.mat-mdc-table .mdc-data-table__row {
  height: 65px !important;
}

.postcard .postcard__img {
  max-height: 180px;
  width: 100%;
  object-fit: cover;
  position: relative;
}

.postcard .postcard__tagbox .tag__item {
  display: inline-block;
  background: rgba(83, 83, 83, 0.4);
  border-radius: 3px;
  padding: 4.5px 10px;
  margin: 0 22px 5px 0;
  cursor: default;
  -webkit-user-select: none;
  user-select: none;
  transition: background-color 0.3s;
}

/* /////////////////////////// */
button {
  margin: 20px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

.btn-3 {
  background: rgb(0, 172, 238);
  background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;

}

.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}

.btn-3:before {
  height: 0%;
  width: 2px;
}

.btn-3:after {
  width: 0%;
  height: 2px;
}

.btn-3:hover {
  background: transparent;
  box-shadow: none;
}

.btn-3:hover:before {
  height: 100%;
}

.btn-3:hover:after {
  width: 100%;
}

.btn-3 span:hover {
  color: rgba(2, 126, 251, 1);
}

.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgba(2, 126, 251, 1);
  transition: all 0.3s ease;
}

.btn-3 span:before {
  width: 2px;
  height: 0%;
}

.btn-3 span:after {
  width: 0%;
  height: 2px;
}

.btn-3 span:hover:before {
  height: 100%;
}

.btn-3 span:hover:after {
  width: 100%;
}

/* 15 */
.custom-btnn {
  font-size: 26px;
  width: 300px;
  height: 75px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5), 7px 7px 20px 0px rgba(0, 0, 0, .1), 4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

.btn-15 {
  background: #0B93C3;
  border: none !important;
  z-index: 1;

}

.btn-15:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: rgb(0, 172, 238);
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  transition: all 0.3s ease;
}

.btn-15:hover {
  color: #fff;
}

.btn-15:hover:after {
  left: 0;
  width: 100%;
}

.btn-15:active {
  top: 2px;
}
